
<div><b>Graph of power production over past 10 seconds</b></div>
Power production (W)
<table style="height:140px; width:200px;">
	<tr>
		{{for data.chartValues}}
			<td class="graphAxis">
				{{:value}}%
			</td>
		{{/for}}
	</tr>
	<tr style="background-color:#0000FF; height:100px">
		{{for data.chartValues}}
			<td class="graphBar">
				<div style="background-color:#00ff00; height:{{:value}}px; width:40px"></div>
			</td>
		{{/for}}
	</tr>
	<tr>
		{{for data.chartValues}}
			<td class="graphAxis">
				{{:index - 9}}
			</td>
		{{/for}}
	</tr>
</table>
Time since present (sec)
