
<div><b>Graph of fuel reaction rate over past 10 seconds</b></div>
Reaction rate (%)
<table style="height:140px; width:200px;">
	<tr>
		{{for data.reactionChartValues}}
			<td class="graphAxis">
				{{:value}}%
			</td>
		{{/for}}
	</tr>
	<tr style="background-color:#0000FF; height:100px">
		{{for data.reactionChartValues}}
			<td class="graphBar">
				{{if value > data.excitationChartValues[index]}}
					<div style="background-color:#00ff00; height:{{:value}}px; width:40px"></div>
				{{else}}
					<div style="background-color:#ff0000; height:{{:value}}px; width:40px"></div>
				{{/if}}
			</td>
		{{/for}}
	</tr>
	<tr>
		{{for data.reactionChartValues}}
			<td class="graphAxis">
				{{:index - 9}}
			</td>
		{{/for}}
	</tr>
</table>
Time since present (sec)
